<div class="divWraps">
    <h1>~~ התפריט שלנו ~~</h1>
    <div class="divWraps-content" *ngFor="let d of ps.dictionary; let i = index"
        [ngClass]="(i%2===0)?'even-class':'odd-class'">
        <div class="img">
            <img *ngIf="d.products && d.products.length > 0" [src]="d.products[0].picture" class="image">
        </div>
        <div class="text">
            <h2 class="p1">~~ {{ d.categoryName }} ~~</h2>
            @if(d.products != null && d.products.length > 0){
            <div>
                <div *ngFor="let n of d.products | slice:0:3">
                    <h3>{{ n.productName }}</h3>
                    <h4>{{ n.productDescription }}</h4>
                </div>
            </div>
            }
        </div>
    </div>
</div>
