<div class="backgroundImg"></div>

<div id="about-section" class="about-container">
    <div class="img-about">
        <img class="imgAbout" src="about.jpg">
    </div>
    <div class="text-about" >
        <h2>~~ אודותינו ~~</h2>
        <div class="text">
            <h3>קראון ביפ ירושלים היא מסעדת בשר איכותית המקדשת את הכשרות המהודרת מעל הכל.
                המסעדה היפיפייה משקיפה אל עבר נופי עיר הבירה ירושלים, שמוסיפה לאווירה ולטעמים הייחודיים שניתן למצוא רק
                קראון ביפ.</h3>
            <h3>קראון ביפ גאה בשילוב שהיא יוצרת בין קולינריה מופתית לעיצוב ושירות עם איכות ללא פשרות, מה שעושה אותה
                לפנינה של הר חוצבים בירושלים.</h3>
            <h3>התפריט העשיר כולל שפע מנות שף מהבשרים והדגים האיכותיים בשוק, בנוסף לתבשילים עשירים בטעמים משובחים,
                המוכנים במסעדה מידי יום, הכל מהרכיביים הטריים והאיכותיים ביותר בשוק.</h3>
            <h3>בין אם עצרתם בדרך, החלטתם להתפנק או שפשוט בא לכם להתנתק לרגע מהשיגרה, ולשקוע בארוחת בשרים טובה כל כך
                המשאירה תמיד טעם של עוד, קראון ביפ ירושלים היא המקום בשבילכם.</h3>
        </div>
    </div>
</div>
<app-card-home />
<app-footer/>
